@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.logo {
  font-size: 35px;
  color: #ffffff;
  text-decoration: none;
  padding-left: 75px;
}

header {
  padding: 20px;
  background: linear-gradient(to right, #FA767C 65%, #5D6DCD 50%);  
  align-items: center;
  display: flex;
  gap: 0px 15px;
  justify-content: space-around;
}

header a {
  padding: 30px;
  padding-left: 70px;
  padding-left: 30px;
  margin-right: 50px;
}

.inicio {
  background: linear-gradient(to right, #FA767C 65%, #5D6DCD 50%);
  height: 85vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-right: 190px;
}

.mariana {
  padding: 10px;
  margin-bottom: 70px;
  width: 20rem;
  outline: 3px solid #ffffff;
}

.inicio h1 {
  color: #ffffff;
  font-size: 70px;
  margin-top: 10px;
  letter-spacing: 3px;
  line-height: 70px;
}

.element1 {
  align-self: flex-start;
  padding-top: 130px;
  margin-left: 70px;
}

.inicio p {
  color: #ffffff;
  font-size: 25px;
  margin-top: 15px;
  width: 100%;
}

.aboutme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.aboutme h1 {
  color: #FA767C;
  font-size: 70px;
}

.aboutme p {
  color: #5D6DCD;
  font-size: 20px;
  width: 85%;
  text-align: center;
  padding: 20px;
}

.sessaoprojects {
  background: linear-gradient(to right, #FA767C 65%, #5D6DCD 50%);  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sessaoprojects h1 {
  color: #ffffff;
  font-size: 70px;
  padding-top: 70px;
}

.sessaoprojects img {
  width: 70%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.project1, .project2, 
.project3, .project4,
.project5, .project6 {
  width: 300px;
  height: 300px;
  margin: 20px;
  border: 4px solid #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 17px;
}

.container {
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  width: 1200px;
  gap: 20px;
}

.container p {
  text-align: center;
  width: 90%;
}

.projects {
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: #5D6DCD;
  font-size: 15px;
}

button {
  width: 130px;
  height: 30px;
  border: 2px solid #5D6DCD;
  border-radius: 30px;
  background-color: #ffffff;
}

footer {
  background-color: #ffffff;
  color: #5D6DCD;
  height: 20vh;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.footer a {
  text-decoration: none;
  color: #5D6DCD;
}

.footer a:hover {
  color: #b9b9b9;
}

